<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "header 전체"> 
        <div id = "윗 부분"> 
            <img src="../public/img/logo.png">
            <form id="sform" action="날릴주소">
                <div >
                    <input title = "검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." id = "query" name = "query" class="search_input" value="검색">
                </div>
                <button type="submit" onclick=""></button>
            </form>
            <input type="button" id ="login" value="로그인"/>
            <input type="button" id ="createUser" value="회원가입"/>
        </div>
        <div id = "아랫 부분">

        </div>
    </div>
    
</body>
</html>